html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
}



.calculator {
    height: 100%;
    display: flex;
    justify-content: center;
}

.buttons-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button {
    font-size: 2rem;
}